@use "../../blocks/styles/table/block" as table;
@use "../../blocks/timeline/block" as timeline;
@use "../../blocks/faq/block" as faq;
@use "../../blocks/icon-list/block" as icon-list;
@use "../../blocks/slider/block" as slider;
