@use "./tailwind";
@use "component/blocks/inspector-controls";
@use "component/ratio";
@use "../../blocks/posts/edit" as posts-edit;
@use "../../blocks/timeline/edit" as timeline;
@use "../../blocks/slider/edit" as slider;

:root {
	--ystdtb-editor-block-outline: 1px solid #ddd;
}

.wp-block {
	&[class*="ystdtb-"] {
		box-sizing: border-box;
	}
}

.component-box-control__unit-control {
	margin-bottom: 0 !important;
}
