@tailwind base;
@tailwind components;
@tailwind utilities;

@use "component/blocks/inspector-controls";
@use "component/ratio";
@use "../../blocks/posts/edit" as posts-edit;
@use "../../blocks/styles/table/block" as table;
@use "../../blocks/styles/table/edit" as table-edit;
@use "../../blocks/timeline/edit" as timeline;
@use "../../blocks/faq/edit" as faq;
@use "../../blocks/sns-share/edit" as sns-share;
@use "../../blocks/icon-list/edit" as icon-list;
@use "../../blocks/box/edit" as box;
@use "../../blocks/parts/edit" as parts-edit;
@use "../../blocks/banner-link/edit" as banner-link;
@use "../../blocks/slider/edit" as slider;

:root {
	--ystdtb-editor-block-outline: 1px solid #ddd;
}

.wp-block {
	&[class*="ystdtb-"] {
		box-sizing: border-box;
	}
}

.component-box-control__unit-control {
	margin-bottom: 0 !important;
}
