@use "./tailwind";
@use "component/blocks/inspector-controls";
@use "component/ratio";

:root {
	--ystdtb--editor--text-color--gray: #6b7280;
	--ystdtb--editor--block-outline: 1px solid #ddd;
}

.wp-block {
	&[class*="ystdtb-"] {
		box-sizing: border-box;
	}
}

.component-box-control__unit-control {
	margin-bottom: 0 !important;
}

