<?xml version="1.0"?>
<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./phpunit/</directory>
			<exclude>./phpunit/test-sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
