//テーマカラー
$color__ystd_blue: #07689f;
$color__ystd_beta: #9CADBC;

//文字色
$color__text-main: #222222 !default;
$color__text-light: #757575 !default;
$color__text-danger: #d53939 !default;

// 背景色
$color__bg-gray-light: #fafafc !default;
// 罫線
$color__border-gray-light: #eeeeee !default;

// ブレークポイント
$breakpoints: (
        sm : 600px,
        md : 769px,
        lg : 1025px,
) !default;
