.ystdtb-settings-custom-css__hide-notice-toggle {
  .components-form-toggle {
    .components-form-toggle__track {
      border-color: currentColor;
    }

    .components-form-toggle__thumb {
      border-color: currentColor;
      background-color: currentColor;
    }
  }
}
