@use "../../../src/sass/global";

.wp-block-table {
  &.is-style-ystdtb-table-2col,
  &.is-style-ystdtb-table-2col-m {
    td {
      &:first-child {
        white-space: nowrap !important;
      }
    }
  }
}
