.ystdtb-timeline {
  padding-top: 1em;
  padding-left: 1em;
}

.ystdtb-timeline-item {
  position: relative;
  border-left: 2px solid #eee;
  padding: 1em 0 3em 2.5em;

  &.is-margin-small {
    padding-bottom: 2em;
  }
  &.is-margin-large {
    padding-bottom: 5em;
  }
}

.ystdtb-timeline__label {
  display: inline-block;
  background-color: #eee;
  padding: .5em;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  transform: translateX(calc(-50% - 1px));

  &.has-icon,
  &.has-text {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

  }
  &.has-icon {
    width: 2em;
    height: 2em;
  }
  &.has-text {
    width: 2.5em;
    height: 2.5em;
  }

  &.has-long-text {
    left: -1.5em;
    transform: none;
  }

  .ys-icon {
    vertical-align: -.3em;
  }
}

.ystdtb-timeline__contents {
  margin-top: -1.3em;

  > * {
    margin-top: 1.5em;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &.is-margin-small {
    > * {
      margin-top: 1em;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &.is-margin-large {
    > * {
      margin-top: 2em;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
