@use "../../src/sass/global";
@use "./dt/block" as dt;
@use "./dd-simple/block" as dd-simple;
@use "./dd-box/block" as dd-box;
@use "./column/block" as column;

.ystdtb-dl {
  > * {
    margin-top: var(--ystd-layout-gap, 1.5em);
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }

    &.has-background {
      margin-top: 0;
    }
  }

  &.has-margin {
    @include global.responsive-custom-property("dl", "margin");
  }
}
