@use "./block";
@use "./dt/edit" as dt;
@use "./dd-simple/edit" as dd-simple;
@use "./dd-box/edit" as dd-box;
@use "./dl-column/edit" as column;

.ystdtb-dl-editor {

}

.ystdtb-dl {
  > .block-editor-inner-blocks > .block-editor-block-list__layout {
    > dt,
    > dd,
    > .ystdtb-dl-column {
        margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }

      &.has-background {
        margin-top: 0;
      }
    }

    > dt {
      margin-top: var(--ystd-layout-gap, 1.5em);
    }

    > dd {
      margin-top: 0.5em;
    }

    > .ystdtb-dl-column {
      margin-top: 0.5em;
    }

    > .block-list-appender {
      margin: 8px 0 !important;
    }
  }
  // > .block-editor-inner-blocks > .block-editor-block-list__layout
}
