@use "../../../sass/global";
@use "./style";
@use "./inspector-controls/link";
@use "./inspector-controls/banner";

.ystdtb-banner-link {
    &,
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}
