.ystdtb-dl {

	> :where(.ystdtb-dl-column) {
		&:where(:not(:first-child)) {
			margin-block-start: var(--ystd-layout-gap, 1.5em);
		}
	}
	> :where(.ystdtb-dl-column) + :where(.ystdtb-dl-column) {
		margin-block-start: 0.5em;
	}
}
