.ystdtb-dl-variation-picker {
	.block-editor-block-variation-picker {
		svg {
			fill: none !important;
		}

		.components-button:hover {
			svg {
				fill: none !important;
			}

			svg,
			+ .block-editor-block-variation-picker__variation-label {
				opacity: 0.8;
				transition: opacity .3s;
			}
		}
	}
}

.ystdtb-dl {
	> * + * {
		margin-block-start: var(--ystd-layout-gap, 1.5rem);
		margin-block-end: 0;
	}
}



