.ystdtb-dl {
	> :where(dd) {
		margin-block-end: 0;

		&:where(:first-child) {
			margin-block-start: 0;
		}

		&:where(.has-background) {
			margin-block-start: 0;
		}
	}

	> :where(.ystdtb-dl-column) {
		&:where(:not(:first-child)) {
			margin-block-start: var(--ystd-layout-gap, 1.5em);
		}
	}

	> :where(dd:not(:first-child)),
	> :where(.ystdtb-dl-column) + :where(.ystdtb-dl-column) {
		margin-block-start: 0.5em;
	}
}
