.ystdtb-box-shadow-control__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;

	.ystdtb-box-shadow-control__reset {
		flex-shrink: 0;
	}
}

.ystdtb-box-shadow-control__preset-label {
	font-size: 11px;
}

.ystdtb-box-shadow-control__color-settings {
	margin-top: 24px;
}

.ystdtb-box-shadow-control__color-settings-label {
	margin-bottom: 8px;
}

.ystdtb-box-shadow-control__color-settings-opacity {
	margin-top: 8px;

	.components-base-control__field {
		display: flex;
		align-items: center;

		.components-base-control__label {
			margin: 0 8px 0 0;
			white-space: nowrap;
		}
	}
}

.ystdtb-box-shadow-control__value-settings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;

	> * {
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}
	}
}
