.ystdtb-hook-panel {
	.components-panel__body-toggle.components-button {
		padding-left: 40px;
	}

	svg[data-icon-name="ystdtb-panel-icon"] {
		width: 18px;
		height: 18px;
		position: absolute;
		left: 16px;
		top: 50%;
		margin: 0;
		color: currentcolor;
		fill: currentcolor;
		transform: translateY(-50%);
	}

	&.is-enabled {
		.components-button.components-panel__body-toggle {
			color: var(--wp-admin-theme-color);
		}
	}
}
