@charset "UTF-8";
.ystdtb-menu__form label,
.ystdtb-menu__form .label {
  font-weight: 700;
}
.ystdtb-menu__form label.is-block,
.ystdtb-menu__form .label.is-block {
  display: block;
  margin-bottom: 0.25em;
}
.ystdtb-menu__form label.is-small,
.ystdtb-menu__form .label.is-small {
  font-size: 0.8em;
}
.ystdtb-menu__form label.is-nowrap,
.ystdtb-menu__form .label.is-nowrap {
  white-space: nowrap;
}
.ystdtb-menu__form input[type=number],
.ystdtb-menu__form input[type=text] {
  width: 100%;
  max-width: 100%;
  border: 0;
  background: #f8f8f8;
  padding: 0.5em 0.75em;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  color: #666;
  font: inherit;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-appearance: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.ystdtb-menu__form input[type=number]::placeholder,
.ystdtb-menu__form input[type=text]::placeholder {
  color: #ccc;
}
.ystdtb-menu__form input[type=number]:disabled,
.ystdtb-menu__form input[type=text]:disabled {
  background: #f7f7f7 !important;
  color: #f7f7f7 !important;
}
.ystdtb-menu__form input[type=number].is-small {
  width: 5em;
}
.ystdtb-menu__form select,
.ystdtb-menu__form .select {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding: 0.25em 0.75em;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  color: #666;
  border: 1px solid #eee;
  text-align: left;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}
.ystdtb-menu__form button,
.ystdtb-menu__form .button {
  padding: 0.5em 1em;
  background: #fff;
  border: 1px solid rgba(7, 104, 159, 0.3);
  color: #07689f;
  border-radius: 4px;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}
.ystdtb-menu__form button svg,
.ystdtb-menu__form .button svg {
  vertical-align: -0.25em;
}
.ystdtb-menu__form button.is-nowrap,
.ystdtb-menu__form .button.is-nowrap {
  white-space: nowrap;
}
.ystdtb-menu__form button.is-block,
.ystdtb-menu__form .button.is-block {
  display: block;
  width: 100%;
}
.ystdtb-menu__form button.is-small,
.ystdtb-menu__form .button.is-small {
  font-size: 0.85em;
}
.ystdtb-menu__form button.is-white,
.ystdtb-menu__form .button.is-white {
  background: #fff;
  color: #666;
  border: 1px solid #eee;
}
.ystdtb-menu__form button.is-primary, .ystdtb-menu__form button.button-primary,
.ystdtb-menu__form .button.is-primary,
.ystdtb-menu__form .button.button-primary {
  background-color: #07689f;
  border-color: #07689f;
  color: #fff;
}
.ystdtb-menu__form button.is-cancel,
.ystdtb-menu__form .button.is-cancel {
  border-color: #eee;
  background-color: #f7f7f7;
  color: #666;
  white-space: nowrap;
}
.ystdtb-menu__form button.is-danger,
.ystdtb-menu__form .button.is-danger {
  border: 1px solid #f0506e;
  background-color: #fff;
  color: #f0506e;
}
.ystdtb-menu__form button.is-text,
.ystdtb-menu__form .button.is-text {
  border: 0;
  background: transparent;
}
.ystdtb-menu__form button:disabled,
.ystdtb-menu__form .button:disabled {
  background: #f7f7f7 !important;
  border-color: #eee !important;
  color: #a0a5aa !important;
  cursor: unset !important;
}
.ystdtb-menu__form button.is-image-button,
.ystdtb-menu__form .button.is-image-button {
  padding: 0.5em;
  transition: none;
}
.ystdtb-menu__form button.is-image-button img,
.ystdtb-menu__form .button.is-image-button img {
  display: block;
}
.ystdtb-menu__form button.is-image-button.is-select,
.ystdtb-menu__form .button.is-image-button.is-select {
  border-width: 0.5em;
  padding: 0;
}
.ystdtb-menu__form .toggle-button {
  display: none;
}
.ystdtb-menu__form .toggle-button + label {
  outline: 0;
  display: block;
  width: 2.5em;
  height: 1.5em;
  position: relative;
  background: #ccc;
  border-radius: 1.5em;
  padding: 2px;
  transition: all 0.4s ease;
  cursor: pointer;
  user-select: none;
}
.ystdtb-menu__form .toggle-button + label::after, .ystdtb-menu__form .toggle-button + label::before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.ystdtb-menu__form .toggle-button + label::after {
  left: 0;
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.ystdtb-menu__form .toggle-button + label::before {
  display: none;
}
.ystdtb-menu__form .toggle-button:checked + label {
  background: #07689f;
}
.ystdtb-menu__form .toggle-button:checked + label::after {
  left: 50%;
}
.ystdtb-menu__form .toggle-button:disabled + label {
  background: #ccc;
}
.ystdtb-menu__form .toggle-button:disabled + label::after {
  opacity: 0.3;
}
.ystdtb-menu__form .ystdtb-menu__advanced-switch {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.ystdtb-menu__form .ystdtb-menu__advanced-switch::before {
  content: "高度な設定";
  display: inline-block;
  margin-right: 0.5em;
  font-size: 0.8rem;
  color: #666;
}

.ystdtb-menu__component .ystdtb-menu__title {
  margin: 0 0 1.5em;
  padding: 0 0 0.25em;
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: 1px solid #07689f;
}
.ystdtb-menu__component .ystdtb-menu__title.is-no-margin {
  margin-bottom: 0.25em;
}
.ystdtb-menu__component .ystdtb-menu__section-title {
  margin: 1.5em 0;
  padding: 0.5em;
  background-color: #fafafc;
  font-size: 1em;
  font-weight: 700;
  border-left: 2px solid #07689f;
}
.ystdtb-menu__component .ystdtb-menu__section-sub-title {
  position: relative;
  padding: 0 0 0.5em;
  margin-bottom: 1em;
}
.ystdtb-menu__component .ystdtb-menu__section-sub-title::after {
  content: "";
  height: 1px;
  width: 64px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #07689f;
}
.ystdtb-menu__component h2 {
  margin-top: 3em;
  font-size: 1.2em;
  color: #07689f;
}
.ystdtb-menu__component h3 {
  font-size: 1em;
}
.ystdtb-menu__component h4 {
  margin: 1.5em 0 0.5em;
}
.ystdtb-menu__component code {
  font-size: 1em;
}
.ystdtb-menu__component .ystdtb-menu__subtext {
  font-size: 0.8em;
  color: #aaa;
}
.ystdtb-menu__component .ystdtb-menu__section {
  margin-top: 2em;
  max-width: 1000px;
}
.ystdtb-menu__component .ystdtb-menu__section.is-small {
  margin-top: 1em;
}
.ystdtb-menu__component .ystdtb-menu__section.is-w-600 {
  max-width: 600px;
}
.ystdtb-menu__component .ystdtb-menu__section_title {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #07689f;
}
.ystdtb-menu__component .ystdtb-menu__table {
  display: flex;
  width: 100%;
  margin-top: 0.75em;
  color: #666;
  font-size: 0.9em;
}
.ystdtb-menu__component .ystdtb-menu__table:first-child {
  margin-top: 0;
}
.ystdtb-menu__component .ystdtb-menu__table .is-label {
  width: 30%;
  min-width: 5em;
  flex-shrink: 0;
  padding: 0.5em 0.5em 0.5em 0;
}
.ystdtb-menu__component .ystdtb-menu__table .is-label.is-small {
  width: 15%;
}
.ystdtb-menu__component .ystdtb-menu__table .is-label label {
  font-weight: 400;
  font-size: 1em;
}
.ystdtb-menu__component .ystdtb-menu__table .is-content {
  flex-grow: 1;
}
.ystdtb-menu__component .ystdtb-menu__table .is-content.is-align-center {
  display: flex;
  align-items: center;
}
.ystdtb-menu__component .ystdtb-menu__table .is-content label {
  font-weight: 400;
}
.ystdtb-menu__component .ystdtb-menu__table-collapse {
  width: 100%;
  margin-top: 0.75em;
  color: #666;
  font-size: 0.9em;
}
@media (min-width: 769px) {
  .ystdtb-menu__component .ystdtb-menu__table-collapse {
    display: flex;
  }
}
.ystdtb-menu__component .ystdtb-menu__table-collapse:first-child {
  margin-top: 0;
}
.ystdtb-menu__component .ystdtb-menu__table-collapse .is-label {
  padding: 0 0 0.5em;
  font-weight: 700 !important;
}
@media (min-width: 769px) {
  .ystdtb-menu__component .ystdtb-menu__table-collapse .is-label {
    width: 200px;
    flex-shrink: 0;
    padding: 0.5em 0.5em 0.5em 0;
    font-weight: 400 !important;
  }
}
@media (min-width: 769px) {
  .ystdtb-menu__component .ystdtb-menu__table-collapse .is-label.is-small {
    width: 150px;
  }
}
.ystdtb-menu__component .ystdtb-menu__table-collapse .is-label label {
  font-size: 1em;
}
.ystdtb-menu__component .ystdtb-menu__table-collapse .is-content {
  flex-grow: 1;
}
.ystdtb-menu__component .ystdtb-menu__table-collapse .is-content label {
  font-weight: 400;
}
.ystdtb-menu__component .ystdtb-menu__horizontal {
  display: flex;
  align-items: center;
  width: 100%;
}
.ystdtb-menu__component .ystdtb-menu__horizontal > * {
  margin-right: 0.5em;
}
.ystdtb-menu__component .ystdtb-menu__horizontal > *:last-child {
  margin-right: 0;
}
.ystdtb-menu__component .ystdtb-menu__horizontal svg {
  margin-right: 0.25em;
}
.ystdtb-menu__component .ystdtb-menu__card {
  padding: 1em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.ystdtb-menu__component .ystdtb-menu__card > * {
  margin-top: 1em;
}
.ystdtb-menu__component .ystdtb-menu__card > *:first-child {
  margin-top: 0;
}
.ystdtb-menu__component .ystdtb-menu__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999999;
}
.ystdtb-menu__component .ystdtb-menu__modal:not(.has-cover)::after,
.ystdtb-menu__component .ystdtb-menu__modal .ystdtb-menu__modal-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.ystdtb-menu__component .ystdtb-menu__modal:not(.has-cover)::after {
  content: "";
}
.ystdtb-menu__component .ystdtb-menu__modal .ystdtb-menu__modal-content {
  position: relative;
  padding: 2em;
  border-radius: 0.25em;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
}
.ystdtb-menu__component .ystdtb-menu__modal .ystdtb-menu__modal-content.is-large {
  width: 95%;
  height: 95%;
}
@media (min-width: 769px) {
  .ystdtb-menu__component .ystdtb-menu__modal .ystdtb-menu__modal-content.is-large {
    width: 80%;
    height: 80%;
  }
}
.ystdtb-menu__component .ystdtb-menu__modal .ystdtb-menu__modal-content > * {
  margin-top: 1.5em;
}
.ystdtb-menu__component .ystdtb-menu__modal .ystdtb-menu__modal-content > *:first-child {
  margin-top: 0;
}
.ystdtb-menu__component .ystdtb-menu__loading {
  display: flex;
  min-height: 300px;
  width: 100%;
  color: #aaa;
  transition: all 0.3s;
}
.ystdtb-menu__component .ystdtb-menu__loading::before {
  display: block;
  color: #aaa;
  content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>');
  margin: auto;
  animation: 3s linear infinite rotation;
}
.ystdtb-menu__component .ystdtb-menu__loaded + .ystdtb-menu__loading {
  opacity: 0;
  height: 0;
}
.ystdtb-menu__component .notice button {
  border: none;
  padding: 9px;
  background: 0 0;
  color: #72777c;
  cursor: pointer;
}
.ystdtb-menu__component .ystdtb-menu__column {
  display: flex;
  flex-wrap: wrap;
}
.ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 1em) / 2);
  padding: 1.5em 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 0.8rem;
}
@media (min-width: 769px) {
  .ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item {
    font-size: 1rem;
  }
}
.ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item > *:nth-last-child(2) {
  flex-grow: 1;
}
.ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item:nth-child(2n) {
  margin-right: 0;
}
@media (min-width: 1025px) {
  .ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item {
    width: calc((100% - 2em) / 3);
  }
  .ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item:nth-child(2n) {
    margin-right: 1em;
  }
  .ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item:nth-child(3n) {
    margin-right: 0;
  }
}
.ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item > * {
  margin-top: 1.5em;
  margin-bottom: 0;
}
.ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item > *:first-child {
  margin-top: 0;
}
.ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item h3 {
  color: #07689f;
  text-align: center;
  font-size: 1.1em;
}
.ystdtb-menu__component .ystdtb-menu__column > .ystdtb-menu__column-item figure {
  padding: 0;
  text-align: center;
}
.ystdtb-menu__component .ystdtb-menu__column-icon {
  color: #07689f;
}
.ystdtb-menu__component .ystdtb-menu__column-icon svg {
  width: 3em;
  height: 3em;
  stroke-width: 0.08em;
}
.ystdtb-menu__component .ystdtb-menu__preview-image {
  border: 1px solid #eee;
  background-color: #f7f7f7;
  padding: 0.5em;
}
.ystdtb-menu__component .is-beta-feature {
  position: relative;
  margin: 3em 0;
  padding: 2em 1.5em;
  border: 1px solid #9cadbc;
  background-color: rgba(156, 173, 188, 0.05);
}
.ystdtb-menu__component .is-beta-feature::before {
  content: "β版機能";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 2em;
  background-color: #9cadbc;
  color: #fff;
  font-size: 0.8em;
}
.ystdtb-menu__component .beta-feature-more {
  margin: 3em 0 0;
  font-size: 0.8em;
}
.ystdtb-menu__component .beta-feature-more ul {
  list-style: disc;
  padding-left: 1.5em;
}
.ystdtb-menu__component .ystdtb-menu__image-select-preview {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #eee;
}
.ystdtb-menu__component .ystdtb-menu__image-select-preview img {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.ystdtb-menu-page {
  background-color: #fff;
}

.ystdtb-menu {
  margin-top: 2em;
  font-size: 0.9rem;
}
.ystdtb-menu *,
.ystdtb-menu *::after,
.ystdtb-menu *::before {
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .ystdtb-menu {
    display: flex;
  }
}
.ystdtb-menu .ystdtb-menu__nav {
  margin: 0;
  list-style: none;
  font-size: 0.9em;
  display: none;
}
@media (min-width: 1025px) {
  .ystdtb-menu .ystdtb-menu__nav {
    display: block;
    width: 160px;
    border-right: 1px solid #eee;
    padding: 0;
    margin-right: 2em;
  }
}
.ystdtb-menu .ystdtb-menu__nav-item {
  margin-right: -1px;
}
.ystdtb-menu .ystdtb-menu__nav-item a {
  text-decoration: none;
  color: currentcolor;
  transition: all 0.3s;
}
@media (min-width: 769px) {
  .ystdtb-menu .ystdtb-menu__nav-item a {
    display: block;
    padding: 0.5em;
  }
  .ystdtb-menu .ystdtb-menu__nav-item a:hover {
    background-color: #07689f;
    color: #fff;
  }
}
@media (min-width: 769px) {
  .ystdtb-menu .ystdtb-menu__nav-item.is-current a {
    border-right: 3px solid #07689f;
    color: #07689f;
    font-weight: 700;
  }
  .ystdtb-menu .ystdtb-menu__nav-item.is-current a:hover {
    color: #fff;
  }
}
.ystdtb-menu .ystdtb-menu__detail {
  width: 100%;
}
@media (min-width: 1025px) {
  .ystdtb-menu .ystdtb-menu__detail {
    width: calc(100% - 180px);
  }
}

#ystdtb-menu.has-error::after {
  content: "設定内容にエラーがあります。";
  display: block;
  color: #8a1c16;
}

.code__section {
  margin: 1.5em 0;
}

.wp-admin > .xdebug-var-dump {
  padding-left: 200px;
}
