.ystdtb-settings-custom-css__hide-notice-toggle {

	.components-form-toggle {

		.components-form-toggle__track {
			border-color: currentcolor;
		}

		.components-form-toggle__thumb {
			border-color: currentcolor;
			background-color: currentcolor;
		}
	}
}
