.ystdtb-hidden-mobile,
.ystdtb-hidden-tablet,
.ystdtb-hidden-desktop {
	--ystdtb--block-hook-hidden-by-size--position: -2px;

	&::before {
		content: "";
		display: block;
		position: absolute;
		pointer-events: none;
		top: var(--ystdtb--block-hook-hidden-by-size--position);
		right: var(--ystdtb--block-hook-hidden-by-size--position);
		bottom: var(--ystdtb--block-hook-hidden-by-size--position);
		left: var(--ystdtb--block-hook-hidden-by-size--position);
		border: 1px dashed color-mix(in srgb, #000 10%, transparent);
	}
}
.wp-block[data-align="full"] {
	> .ystdtb-hidden-mobile,
	> .ystdtb-hidden-tablet,
	> .ystdtb-hidden-desktop {
		--ystdtb--block-hook-hidden-by-size--position: 0;
	}
}
