.ystdtb-slider-edit__block-control-preview-type {
	svg {
		fill: none;
	}
}

.ystdtb-slider-edit__effect-control {
	.components-radio-control__group-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
