@use "../../../src/sass/global";

.ystdtb-dd-box {
  margin-left: 0;

  > * {
    margin-top: 1em;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &.has-padding {
    @include global.responsive-custom-property("dd-box", "padding");
  }

  &.has-margin {
    @include global.responsive-custom-property("dd-box", "margin");
  }

  &.has-background:not(.has-padding) {
    padding: 1em 1.5em
  }
}
