.ystdtb-banner-link-inspector-controls__link {
  .block-editor-link-control {
    min-width: auto;
    max-width: 100%;

    .components-base-control {
      margin-bottom: 8px;
    }
    .block-editor-link-control__search-item.is-current {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .block-editor-url-input__input {
    margin: 0 !important;
    width: 100% !important;
  }

  .block-editor-link-control__search-actions {
    top: 3px;
    right: 3px;
  }

  .block-editor-link-control__settings {
    padding: 8px 0;
  }
}
