.ystdtb-component-border-control__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 8px;

  .components-flex {
    gap: 0 !important;
  }

  .components-input-control__label,
  .components-custom-select-control__label {
    padding: 0 !important;
    margin: 0 0 8px !important;
    font-size: 13px !important;
    line-height: 1.3 !important;
  }
}
