@use "../../global/index" as global;

.wp-admin {
  .ystdtb-menu__manual-link {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      min-height: unset;

      @include global.media-breakpoint(md) {
        padding: .25em 0;
      }

      svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: .25em;
      }
    }

    &.is-horizon {
      @include global.media-breakpoint(md) {
        display: flex;
      }

      > * {
        width: 100%;
        margin-bottom: .25em;

        @include global.media-breakpoint(md) {
          margin-left: .25em;
          margin-right: .25em;
          margin-bottom: 0;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .ystdtb-menu__manual-link-inline {
    display: inline-block;
    font-size: 0.8em;

    svg {
      width: 1.2em;
      height: 1.2em;
      vertical-align: middle;
      margin-right: .25em;
    }
  }
}
