.notice {

	&.ystdtb-notice {
		padding: 9px 12px;

		ul {
			list-style: disc;
			margin-left: 1.5em;
		}
	}
}

.ystdtb-customizer-notice {
	padding: 8px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;

	&.notice-warning {
		border-color: #e29e21;
		background-color: #ffedcc;
		color: #e29e21;
	}

	&.notice-error {
		border-color: #ae3b43;
		background-color: #f2d9db;
		color: #ae3b43;
	}

	&.notice-info {
		border-color: #007660;
		background-color: #c8eae4;
		color: #007660;
	}
}
