.aktk-component__icon-unit-control-wrap {
	display: flex;
	align-items: center;
	gap: 4px;

	& > *:not(svg) {
		flex-grow: 1;
	}

	& > svg {
		flex-shrink: 0;
		color: var(--aktk-component--text-color--gray);
	}

	& label:empty {
		display: none;
	}

	&.is-align-to-input {
		& > svg {
			translate: 0 50%;
		}

		& label {
			margin-left: -24px;
		}
	}

	& + :where(.aktk-component__icon-unit-control-wrap) {
		margin-top: 8px;
	}
}
