@use "../../src/sass/global";

.ystdtb-faq {
  --ystdtb-faq-padding: 0.75em;
  --ystdtb-faq-padding-wide: 1.5em;
  --ystdtb-faq-item-padding-vertical: var(--ystdtb-faq-padding);
  --ystdtb-faq-item-padding-horizon: 0;
  --ystdtb-faq-padding-q-top: 1.5em;
  --ystdtb-faq-padding-a-bottom: 1.5em;

  border: 0;

  & + .ystdtb-faq {
    margin-top: 0;
  }

  &.has-padding {
    .ystdtb-faq-item {
      --ystdtb-faq-item-padding-horizon: 1.5em;
    }
  }

  &.border-type--all {
    border-style: solid;

    & + .ystdtb-faq {
      border-top: 0;
    }
  }

  &.border-type--bottom {
    border-bottom-style: solid;
  }

  &.is-accordion {
    .ystdtb-faq-item__arrow {
      display: block;
      margin-left: .5em;
      font-size: 1.1em;
    }

    .ystdtb-faq-item {

      &.is-faq--q {
        &:not(.is-open) {
          border-bottom: 0;
        }

        padding-bottom: var(--ystdtb-faq-padding-q-top);
      }

      &.is-faq--a {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: height .3s, padding .3s, opacity .2s;
      }

      &.is-open {
        + .is-faq--a {
          height: auto;
          padding-top: var(--ystdtb-faq-item-padding-vertical);
          padding-bottom: var(--ystdtb-faq-padding-q-top);
          opacity: 1;
          visibility: visible;
        }
      }
    }

  }
}
