@use "block";

[data-type="ystdtb/faq"],
[data-type="ystdtb/faq-item"] {
  &.is-selected {
    padding: 1em;
  }

}

[data-type="ystdtb/faq-item"] {

  &.is-faq--q {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ystdtb-faq-item__label,
  .ystdtb-faq-item__arrow {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

.ystdtb-faq {
  &.is-accordion {
    .ystdtb-faq-item {

      &.is-faq--q {
        &:after {
          content: '';
          display: none;
        }
      }

      &.is-faq--a {
        height: auto;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.ystdtb-faq__design-sample-content {
  display: flex;
}
