@use "../../../src/sass/global";

.ystdtb-hidden-mobile,
.ystdtb-hidden-tablet,
.ystdtb-hidden-desktop {
  --ystdtb-hidden-position:-2px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    top: var(--ystdtb-hidden-position);
    right: var(--ystdtb-hidden-position);
    bottom: var(--ystdtb-hidden-position);
    left: var(--ystdtb-hidden-position);
    border: 1px dashed rgba(#000,0.1);
  }
}
.wp-block[data-align="full"] {
  > .ystdtb-hidden-mobile,
  > .ystdtb-hidden-tablet,
  > .ystdtb-hidden-desktop {
    --ystdtb-hidden-position:0;
  }
}
