/**
 * FAQブロック エディター専用スタイル
 */
@use "style";

[data-type="ystdtb/faq"] {
	&,
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	&.is-selected {
		padding: 0;
	}
}

// エディター内のアコーディオン表示調整
.ystdtb-faq {
	&.is-accordion {
		.ystdtb-faq-item {
			&.is-faq--q {
				&::after {
					content: "";
					display: none;
				}
			}

			&.is-faq--a {
				// エディター内では常に表示
				height: auto;
				padding-top: 1.5em;
				padding-bottom: 1.5em;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
