.ystdtb-plugin-settings-panel {
	--plugin-settings-panel--border-color: #e0e0e0;

	&.components-panel__body {
		margin: 2em 0;
		border: 1px solid var(--plugin-settings-panel--border-color);

		&:first-child {
			margin-top: 0;
		}

		&.is-opened {
			> .components-panel__body-title {
				margin-bottom: 1em;
				border-bottom: 1px solid var(--plugin-settings-panel--border-color);
			}
		}

		> .components-base-control {
			margin-top: 2em;

			> .components-base-control__field > .components-base-control__label {
				font-weight: 700;
			}
		}

		.components-panel__body-title {
			.components-panel__body-toggle {
				font-weight: 700;
			}
			+ .components-base-control {
				margin-top: 0;
			}
		}
	}

	&.is-nested {
		&.components-panel__body {
			@apply bg-gray-50;
		}
		.components-panel__body-title,
		.components-panel__body {
			@apply bg-white;
		}
	}
}
