.ystdtb-responsive-tab {
  .ystdtb-responsive-tab__label {
    &.is-bold {
      font-weight: bold;
    }
  }

  .ystdtb-responsive-tab__panel {
    &.has-label {
      margin-top: -20px;
    }

    .components-tab-panel__tabs {
      justify-content: flex-end;
    }

    .components-tab-panel__tab-content {
      margin-top: 16px;
    }
  }

  .ystdtb-responsive-tab__tab-button {
    height: auto !important;
    padding: 5px;
    background-color: #f1f1f1;
    margin-right: 4px;
    border-radius: 50%;
    box-shadow: none;
    border: 1px solid #aaa;

    &:focus,
    &.is-active:focus {
      box-shadow: none;
    }

    &.is-active {
      background-color: var(--wp-admin-theme-color);
      border-color: var(--wp-admin-theme-color);
      color: #fff;

      &::after {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: none;
      stroke: currentColor;
      width: 12px;
      height: 12px;
    }
  }
}
