@use "../../../sass/global";

$editor: false !default;

/**
 * Margin
 */
@include global.responsive-custom-property-component('margin', $editor);
@include global.responsive-custom-property-component('margin-top', $editor);
@include global.responsive-custom-property-component('margin-right', $editor);
@include global.responsive-custom-property-component('margin-left', $editor);
@include global.responsive-custom-property-component('margin-bottom', $editor);
/**
 * Padding
 */
@include global.responsive-custom-property-component('padding', $editor);
@include global.responsive-custom-property-component('padding-top', $editor);
@include global.responsive-custom-property-component('padding-right', $editor);
@include global.responsive-custom-property-component('padding-left', $editor);
@include global.responsive-custom-property-component('padding-bottom', $editor);
