@use "../../../../src/sass/global";

.wp-block-table {
	&:where(.is-style-ystdtb-table-2col),
	&:where(.is-style-ystdtb-table-2col-m) {
		:where(td) {
			&:first-child {
				background-color: #f1f1f3;
				white-space: nowrap;
			}
		}
	}

	&:where(.is-style-ystdtb-table-2col-m) {
		@include global.media-breakpoint-down(mobile) {
			&,
			tbody,
			thead,
			tfoot,
			tr,
			th,
			td {
				display: block;
			}

			td {
				padding-top: .5em;
				padding-bottom: .5em;
			}
		}
	}

	&:where(.is-style-ystdtb-table-scroll) {
		@include global.media-breakpoint-down(mobile) {
			display: block;
			position: relative;
			width: 100%;
			padding-bottom: 0.5rem;
			overflow: auto;

			-webkit-overflow-scrolling: touch;


			& > * {
				width: auto;
				min-width: 100%;
				white-space: nowrap;
			}

			&::-webkit-scrollbar {
				height: 0.2em;
			}

			&::-webkit-scrollbar-track {
				background: #ccc;
			}

			&::-webkit-scrollbar-thumb {
				background: #ccc;
			}
		}
	}
}
