
.ystdtb-slider {

}

.ystdtb-slider__slider {
  &:not(.swiper-initialized) {
    .ystdtb-slider__container {
      > *:not(:first-child) {
        display: none;
      }
    }
  }
  &.is-fixed-height {
    .ystdtb-slider__container {
      > * {
        height: 100%;
        min-height: 100%;
      }
      > .wp-block-image {
        img {
          height: 100%;
        }
      }
      > .wp-block-video {
        video {
          height: 100%;
        }
      }
    }
  }
}

.ystdtb-slider__container {
  > * {
    width: 100%;
  }

  > .wp-block-image {
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  > .wp-block-video {
    video {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}


.ystdtb-slider__ratio {
  .ystdtb-slider {
    height: 100%;
  }
}
