
.ystdtb-slider {

  &:not(.swiper-initialized) {
    .ystdtb-slider__container {
      > *:not(:first-child) {
        display: none;
      }
    }
  }
}

.ystdtb-slider__container {
  > * {
    width: 100%;
  }

  .wp-block-image {
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .wp-block-video {
    video {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
