@use "../../library/ys-icon-font/variables";

.ystdtb-icon-list {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 1.5em;

    &::marker {
      display: none;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'ys-icon-font', sans-serif;
      speak: never;
      color: var(--icon-font-color, currentColor);
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &.is-bold {
    li {
      &:before {
        font-weight: bold;
      }
    }
  }

  &.icon--alert-circle {
    li:before {
      content: variables.$ys-icon-alert-circle;
    }
  }

  &.icon--alert-triangle {
    li:before {
      content: variables.$ys-icon-alert-triangle;
    }
  }

  &.icon--arrow-right {
    li:before {
      content: variables.$ys-icon-arrow-right;
    }
  }

  &.icon--arrow-right-circle {
    li:before {
      content: variables.$ys-icon-arrow-right-circle;
    }
  }

  &.icon--award {
    li:before {
      content: variables.$ys-icon-award;
    }
  }

  &.icon--bell {
    li:before {
      content: variables.$ys-icon-bell;
    }
  }

  &.icon--bookmark {
    li:before {
      content: variables.$ys-icon-bookmark;
    }
  }

  &.icon--check {
    li:before {
      content: variables.$ys-icon-check;
    }
  }

  &.icon--check-circle {
    li:before {
      content: variables.$ys-icon-check-circle;
    }
  }

  &.icon--chevron-right {
    li:before {
      content: variables.$ys-icon-chevron-right;
    }
  }

  &.icon--chevrons-right {
    li:before {
      content: variables.$ys-icon-chevrons-right;
    }
  }

  &.icon--heart {
    li:before {
      content: variables.$ys-icon-heart;
    }
  }

  &.icon--link {
    li:before {
      content: variables.$ys-icon-link;
    }
  }

  &.icon--message-circle {
    li:before {
      content: variables.$ys-icon-message-circle;
    }
  }

  &.icon--star {
    li:before {
      content: variables.$ys-icon-star;
    }
  }

  &.icon--thumbs-down {
    li:before {
      content: variables.$ys-icon-thumbs-down;
    }
  }

  &.icon--thumbs-up {
    li:before {
      content: variables.$ys-icon-thumbs-up;
    }
  }
}
