$icomoon-font-family: "ys-icon-font" !default;
$icomoon-font-path: "fonts" !default;

$ys-icon-chevron-right: "\e909";
$ys-icon-chevrons-right: "\e90a";
$ys-icon-arrow-right: "\e902";
$ys-icon-arrow-right-circle: "\e903";
$ys-icon-check: "\e907";
$ys-icon-check-circle: "\e908";
$ys-icon-thumbs-up: "\e910";
$ys-icon-thumbs-down: "\e90f";
$ys-icon-star: "\e90e";
$ys-icon-heart: "\e90b";
$ys-icon-award: "\e904";
$ys-icon-bell: "\e905";
$ys-icon-bookmark: "\e906";
$ys-icon-alert-circle: "\e900";
$ys-icon-alert-triangle: "\e901";
$ys-icon-link: "\e90c";
$ys-icon-message-circle: "\e90d";

