.ystdtb-dt {
	margin-block: 0;
	font-weight: 700;

	&:where(:not(:first-child)) {
		margin-block-start: var(--ystd-layout-gap, 1.5em);
	}

	&:where(.has-background) {
		&:where(:not(.has-padding)) {
			padding: 1em 1.5em;
		}
	}
}
