.ystdtb-dl-column-editor-border {
	.components-border-box-control-linked-button,
	.components-range-control {
		display: none;
	}
}

.ystdtb-dl-column {
	&.has-border:not(:last-child) {
		margin-bottom: 0;
	}
}
