@use "./style-legacy";

.ystdtb-dl-column {

	display: flex;
	gap: 1rem;

	&[style*="dl-column--width"] {
		> :where(dt) {
			flex-shrink: 0;
		}
	}

	> :where(dt, dd) {
		min-width: 0;
	}

	> :where(dd) {
		flex-grow: 1;
	}

	&:where(.has-border) {
		gap: 0;

		> :where(dt, dd) {
			margin: 0;
			padding: 1rem;
			border: var(--ystdtb--dl-column--border, var(--ystdtb-dl-column-border));
		}
	}
}
