.aktk-component-layout-control__container {
	display: flex;
	flex-direction: column;
	gap: 24px 16px;
}

.aktk-component-layout-control__label {
	margin-bottom: 8px;
	font-size: 13px;
	color: #1e1e1e;
}

.aktk-component-layout-control__row {
	display: flex;
	gap: 24px 16px;
}
