.ystdtb-layout-frame-wrap {

	&.wp-block {
		margin-top: 0;
		margin-bottom: 0;
	}

	> .ystdtb-layout-frame {
		outline: var(--ystdtb-editor-block-outline);

		> * {
			margin: 0;
			outline: var(--ystdtb-editor-block-outline);
		}

		.block-list-appender:only-child {
			align-self: auto;
		}
	}
}

.wp-block[data-align="full"] {

	> .ystdtb-layout-frame-wrap {
		outline: none;
		border-block: var(--ystdtb-editor-block-outline);

		> .ystdtb-layout-frame {
			outline: none;

			> *:not([data-align="full"]):not([data-align="wide"]) {
				width: var(--ystd-content-default-width);
				margin-inline: auto;
			}
		}
	}
}
