.ystdtb-layout-frame-wrap {
  > .ystdtb-layout-frame {
    outline: var(--ystdtb-editor-block-outline);

    > * {
      outline: var(--ystdtb-editor-block-outline);
    }
  }

  > .ystdtb-layout-frame {
    > * {
      margin: 0;
    }

    .block-list-appender:only-child {
      align-self: auto;
    }
  }
}

